
<div class="container-fluid">
  <nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <div class="navbar-nav">
        <a class="navbar-brand" href="#" style="color: whitesmoke;">
          <h4>
            GitFind
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="d-inline-block align-text-top">search</mat-icon>
          </h4>
        </a>
      </div>
      <div>
          <a routerLink="/user" routerLinkActive="active" style="color: whitesmoke;">Search users</a>
          <a routerLink="/repos" style="color: whitesmoke;">Search repos</a>
      </div>
    </div>
  </nav>
</div>
  