
<br>
<div class="container-fluid">
  <div class="row">
    <div>
      <form action="" class="form-control" (ngSubmit)="searchUser(user.value)">
        <div class="input-group" >
          <input class="form-control mr-sm-2" type="text" placeholder="Search users..." aria-label="Search" id="user" #user = 'ngModel' required [(ngModel)]="displayUser.name" name="user">
          <button mat-raised-button color="basic" type="submit" routerLink="/user"><mat-icon>search</mat-icon></button>
        </div>
        <div [hidden]="user.valid || user.pristine" class="alert alert-danger">
          <p>User name is required</p>
        </div>
      </form>
      <app-search-repo></app-search-repo>
    </div>

    <div>
      <app-profile></app-profile>
    </div>
  </div>
</div>

  