@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap');

* {

  box-sizing: border-box;
  
  margin: 0;
  
  padding: 0;

  
  }
  
  body {
  
  font-family: 'Dosis', sans-serif;

  font-size: 18px;
  
  line-height: 1.4;

  background-image: url(assets/joshua-sortino-LqKhnDzSF-8-unsplash.jpg);

  background-size: cover;
  
  background-repeat: no-repeat;
  
  }

  .card{

    margin: 5px;

  }
  
  .row{

    margin: 10px;

  }
  .card-title{

    font-size: 22px;
    
  }