<app-landing></app-landing>
<div class="container-fluid">
  <form action="" class="form-control" (ngSubmit)="searchUser()">
    <div class="input-group" >
      <input class="form-control mr-sm-2" type="text" placeholder="Search users..." aria-label="Search" id="user" [(ngModel)] = "username" name="user">
      <button mat-raised-button color="basic" type="submit"><mat-icon>search</mat-icon></button>
    </div>
    <!--<div [hidden]="user.valid || user.pristine" class="alert alert-danger">
    <p>User name is required</p>-
    </div>-->
  </form>
  <div class="row">
    <div class="col-4">
      <div class="card">
        <img src="{{users.avatar_url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{users.name}}</h5>
          <div class="card-text">
            <p>Joined on: {{users.created_at|date}}</p>
            <p> Followers: {{users.followers}}</p>
            <p>Following: {{users.following}}</p>
          </div>
        </div>
        <div class="card-footer">
          <a href="{{users.html_url}}" class="btn btn-primary">Go to Github</a>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="repos">
        <div class="repo" *ngFor="let repo of repos">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title">{{repo.name}}</h6>
              <div class="card-text">
                {{repo.description}}
              </div>
              <br>
              <div class="card-text">
                Created on: {{repo.created_at|date}}
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
  
</div>
